{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>

  <hr>
  <form id="survey" name="survey" action="submitSurvey" method="post">
		{%  for questionBlob in questions %}
		<div id="q{{questionBlob.id}}" >
			<iframe src="{{ url_for('show_map',x =  questionBlob.plot ) }}" width="70%" height="70%" frameborder="1" style="position: relative;"></iframe>
			<p>{{ questionBlob.qsno }}. {{ questionBlob.qstext }}</p>
			
			<input type="range" id="value_{{questionBlob.qsno}}"  min="0" max="10" width="60%" />		
		</div>
		<hr>
		{%  endfor %}
	
        <!-- submit button -->
        <br />
        <input id="submitButton" type="submit" value="Submit Survey this one" />
    </form>
  

  
  
  
  
	
	  
{% endblock %}
